---
layout: default
title: My Repository
title: File List
---

<h1>My Repository</h1>
<h1>File List</h1>
<ul>
{% assign sorted_pages = site.pages | sort:"url" %}
{% for page in sorted_pages %}
  {% if page.url contains "./" %}
    {% assign folder = page.url | split:"/" | first %}
    {% assign is_folder = folder == page.basename %}
    {% if is_folder %}
      <li><a href="{{ page.url }}">{{ folder }}</a></li>
    {% endif %}
  {% endif %}
{% for file in site.static_files %}
  <li><a href="{{ site.baseurl }}{{ file.path }}">{{ file.path }}</a></li>
{% endfor %}
</ul>
